@font-face {
  font-family: "iconfont"; /* Project id 3790650 */
  src: url('iconfont.woff2?t=1669279656094') format('woff2'),
       url('iconfont.woff?t=1669279656094') format('woff'),
       url('iconfont.ttf?t=1669279656094') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuoming:before {
  content: "\e63d";
}

